<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/spectre.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/spectre-exp.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/spectre-icons.min.css') }}">
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">-->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

<section class="content" style="margin-top: 40px">
    <header>
        {% block header %}{% endblock %}
    </header>
    <div class="container">
        <div class="columns">
            <div class="column col-2"></div>
            <div class="column col-8">
                {% block content %}

                {% endblock %}
            </div>
            <div class="column col-2"></div>
        </div>
    </div>
</section>