<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/spectre.min.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/spectre-exp.min.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/spectre-icons.min.css') }}">
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    <div class="container grid-lg">
        {% if g.user %}
            <header style="background-color:rgb(252,252,252);padding: 0.5rem" class="navbar">
                <section class="navbar-section">
                    <a href="createwill" class="btn btn-link">Create New Will</a>
                    <a href="#" class="btn btn-link">See Wills</a>
                </section>
                <section class="navbar-center">
                    <strong>A Very Special Will</strong>
                </section>
                <section class="navbar-section">
                    <a href="#" class="btn btn-link">{{g.user.username}}</a>
                    <a href="#" class="btn btn-link">Logout</a>
                </section>
            </header>
        {% endif %}
        <div style="margin-top: 40px">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</section>