Cliente/__pycache__/*
Servidor/__pycache__/*
__pycache__/*
.idea/*
Cliente/helpers/__pycache__/*
Cliente/.idea/*
Cliente/helpers/__pycache__/*
Servidor/.idea/*
.vscode
*.log
Servidor/Auth_Server/__pycache__/*

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

__pypackages__/

# Flask stuff:
instance/
.webassets-cache

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class