{% extends 'layout/main.html' %}


{% block header %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

{% block content %}
    <ul class="tab tab-block">
        <li class="tab-item active">
            <a href="#registo" data-tab="registo">Registo</a>
        </li>
        <li class="tab-item">
            <a href="#login" data-tab="login">Login</a>
        </li>
    </ul>

    <div id="registo" class="tab-content">

        <form id="form-registo">
            <div class="form-group">
                <label class="form-label" for="input-example-1">Username</label>
                <input class="form-input" type="text" id="input-registo-username" placeholder="Name">
            </div>
            <div class="form-group">
                <label class="form-label" for="input-example-3">Password</label>
                <input class="form-input" type="password" id="input-registo-password" placeholder="Password">
            </div>
            <button type="button" class="btn">Registar</button>
        </form>

    </div>
    <div id="login" style="display:none" class="tab-content">

        <form id="form-login">
            <div class="form-group">
                <label class="form-label" for="input-login-password">Username</label>
                <input class="form-input" type="text" id="input-login-username" placeholder="Name">
            </div>

            <div class="form-group">
                <label class="form-label" for="input-login-password">Password</label>
                <input class="form-input" type="password" id="input-login-password" placeholder="Password">
            </div>
            <button type="button"  class="btn">Login</button>
        </form>

    </div>
{% endblock %}